<div class="blog">
    <h1 class="title">
        We wrote a blog about it
    </h1>
    <div class="items">
        <div *ngFor='let item of blogItems' class="item">
            <app-blogit [blogitem]='item'></app-blogit>
        </div>
    </div>
    <a href="https://www.thestudio.com/blog/">
        <button class="btn button-white">See more</button>
    </a>
</div>