.blog {
  align-items: center;
  padding: 0 15rem;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 375px) {
    padding: 4.8rem 2rem 8rem 2rem;
    //margin-bottom: 8rem;
    background-color: #f9f9f9;
  }

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    margin-bottom: 3.2rem;
  }

  .items {
    display: flex;

    @media only screen and (max-width: 375px) {
      flex-direction: column;
    }
  }

  .item {
    transition: all 0.2s;

    &:not(:last-child) {
      margin-right: 3rem;

      @media only screen and (max-width: 375px) {
        margin-right: 0;
        margin-bottom: 3rem;
      }
    }

    &:hover {
      box-shadow: 0px 8px 10px rgba(63, 69, 78, 0.25),
        0px 0px 3px rgba(54, 60, 71, 0.15);
    }
  }

  button {
    margin-top: 4.8rem;
    margin-bottom: 8rem;

    @media only screen and (max-width: 375px) {
      display: none;
    }
  }
}
