<div class="card3">
        <h1 class="card3__title">{{specialoption.name}}</h1>
        <p class="card3__description">{{specialoption.description}}</p>
        <img src={{specialoption.image}} alt="50" class="card3__image">
</div>
<div class="mostpopular" *ngIf='specialoption.mostPopular'>
        <span class="mostpopular__text">MOST POPULAR</span>
</div>

<div class="mostpopular__not" *ngIf='!specialoption.mostPopular'>
        <span class="mostpopular__text__not">MOST POPULAR</span>
</div>