.card3 {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 1.8rem 3.8rem 1.8rem;
  height: 37rem;

  @media only screen and (max-width: 1112px) {
    height: 38rem;
  }

  &__title {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    align-items: center;
    height: 8.4rem;

    @media only screen and (max-width: 1112px) {
      width: auto;
    }
  }

  &__description {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 140%;
    text-align: center;
    align-items: flex-start;
    height: 5rem;

    @media only screen and (max-width: 1112px) {
      width: 17rem;
    }
  }

  &__image {
    margin-top: auto;
    height: 16.7rem;
    width: 16.7rem;
  }
}

.mostpopular {
  background-image: url(/assets/images/most-popular.svg);
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  height: 3.8rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(3.5rem, -2rem);
  z-index: -10;

  @media only screen and (max-width: 1112px) {
    transform: translate(0.4rem, -2rem);
  }

  @media only screen and (max-width: 375px) {
    transform: translate(3.5rem, -2rem);
  }

  &__not {
    height: 3.8rem;
  }

  &__text {
    text-align: center;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 140%;

    &__not {
      display: none;
    }
  }
}
