.card3 {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 2.4rem 4.3rem 1.8rem 4.3rem;
  margin-right: 3rem;

  @media only screen and (max-width: 1112px) {
    padding: 2.4rem 1rem 1.8rem 1rem;
    width: 29.3rem;
  }

  @media only screen and (max-width: 375px) {
    padding: 2.4rem 3rem 1.8rem 3rem;
    width: 100%;
    margin-bottom: 3rem;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 140%;
  }

  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 160%;
    text-align: center;
  }
}

.mostpopular {
  background-image: url(/assets/images/most-popular.svg);
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  height: 3.8rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(8.5rem, -2rem);

  @media only screen and (max-width: 1112px) {
    transform: translate(4.5rem, -2rem);
  }

  @media only screen and (max-width: 375px) {
    transform: translate(7rem, -5rem);
  }

  &__text {
    text-align: center;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 140%;
  }
}
