.start {
  background-image: url("/assets/images/start_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 40rem 8rem 40rem;

  @media only screen and (max-width: 1112px) {
    padding: 4.8rem 24.8rem 8rem 24.8rem;
  }

  @media only screen and (max-width: 375px) {
    padding: 4.8rem 2rem 8rem 2rem;
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  margin-top: 4.8rem;
  margin-bottom: 1.6rem;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 4.8rem;
}
