<div class="start">
  <h1 class="title">Start Building Your Embroidered Patch</h1>
  <p class="description">
    Why wait? Select your options, share your artwork, and we’ll get you
    <br />started on your custom products.
  </p>
  <button class="btn button-green">Get Started</button>
</div>
