<div class="wevemade">
  <div class="title">Embroidered patches We've made</div>
  <div class="gallery">
    <carousel
      [itemsPerSlide]="6"
      [singleSlideOffset]="false"
      [noWrap]="noWrap"
      [interval]="false"
      [startFromIndex]="5"
      [showIndicators]="true"
      (slideRangeChange)="onSlideRangeChange($event)"
    >
      <slide
        class="slide"
        *ngFor="let slide of slides | slice: 0:6; let index = index"
      >
        <img
          [src]="slide.image"
          alt="image slide"
          style="display: block; width: 100%;"
          (click)="openGallery()"
        />
      </slide>

      <div class="slide-2" id="slide2" #slide2>
        <slide
          class="slide"
          *ngFor="let slide of slides | slice: 6:12; let index = index"
        >
          <img
            [src]="slide.image"
            alt="image slide"
            style="display: block; width: 100%;"
            (click)="openGallery2()"
          />
        </slide>
      </div>
    </carousel>
    <button class="btn button-green more" (click)="expandGallery()" #moreless>
      Show more
    </button>
  </div>
</div>
