.wevemade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 11rem;

  @media only screen and (max-width: 1112px) {
    padding: 0 8.6rem;
  }

  @media only screen and (max-width: 375px) {
    padding: 0 4rem;
  }

  .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.9rem;
    text-align: center;
    color: #000000;
    margin-top: 4.8rem;
    margin-bottom: 3.2rem;

    @media only screen and (max-width: 375px) {
      text-transform: capitalize;
    }
  }

  .gallery {
    padding: 0 15rem;

    @media only screen and (max-width: 1112px) {
      padding: 0;
    }

    @media only screen and (max-width: 375px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  carousel {
    // .slide-2 {
    //   border: 1px solid red;
    // }

    .slide-2 {
      display: flex;
    }

    slide {
      &.carousel-item {
        width: auto !important;
        transition: all 0.2s;
        cursor: pointer;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(11),
        &:nth-child(12) {
          width: 26.2rem;
          height: 26.2rem;
          padding: 4rem;
          background-color: #f9f9f9;

          @media only screen and (max-width: 1112px) {
            width: 21.2rem;
            height: 21.2rem;
            padding: 1.6rem;
          }

          img {
            width: 18rem;
            height: 18rem;
          }
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(9),
        &:nth-child(10) {
          width: 55.5rem;
          height: 55.5rem;
          padding: 4rem;
          background-color: #f9f9f9;

          @media only screen and (max-width: 1112px) {
            width: 45.5rem !important;
            height: 45.5rem;
            padding: 3.2rem;
          }

          @media only screen and (max-width: 375px) {
            width: 30.5rem !important;
            margin-bottom: 3rem;
          }

          img {
            width: 47.3rem;
            height: 47.3rem;

            @media only screen and (max-width: 1112px) {
              width: 39rem !important;
              height: 39rem;
            }

            @media only screen and (max-width: 375px) {
              width: 27.5rem !important;
              height: 27.5rem;
            }
          }
        }

        &:nth-child(4),
        &:nth-child(10) {
          position: absolute;
          top: 292px;
          left: 0;

          @media only screen and (max-width: 1112px) {
            top: 242px;
            left: 0;
          }

          @media only screen and (max-width: 375px) {
            position: static;
          }
        }

        &:nth-child(5),
        &:nth-child(11) {
          position: absolute;
          top: 585px;
          left: 580px;

          @media only screen and (max-width: 1112px) {
            top: 485px;
            left: 485px;
          }

          @media only screen and (max-width: 375px) {
            position: static;
            margin-bottom: 3rem;
          }
        }

        &:nth-child(6),
        &:nth-child(12) {
          position: absolute;
          top: 585px;
          left: 872px;

          @media only screen and (max-width: 1112px) {
            top: 485px;
            left: 727px;
          }

          @media only screen and (max-width: 375px) {
            position: static;
            margin-bottom: 3rem;
          }
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(7),
        &:nth-child(8) {
          margin-right: 3rem;
          margin-bottom: 3rem;

          @media only screen and (max-width: 375px) {
            margin-right: 0;
          }
        }

        &:hover {
          box-shadow: 0px 8px 10px rgba(63, 69, 78, 0.25),
            0px 0px 3px rgba(54, 60, 71, 0.15);
        }

        @media only screen and (max-width: 375px) {
          height: 30.5rem !important;
          width: 30.5rem !important;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        // &:nth-child(7),
        // &:nth-child(8),
        // &:nth-child(9),
        // &:nth-child(10),
        // &:nth-child(11),
        // &:nth-child(12) {
        //   @media only screen and (max-width: 375px) {
        //     display: none;
        //   }
        // }
      }
    }
  }
}

.more {
  display: none;

  @media only screen and (max-width: 375px) {
    display: block;
  }
}

#slide2 {
  @media only screen and (max-width: 375px) {
    display: none;
  }
}
