.howitworks {
  //height: 100rem;
  background-image: url(/assets/images/blob-background.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 1112px) {
    padding: 4.8rem 8.8rem 7.4rem 8.6rem;
  }

  @media only screen and (max-width: 375px) {
    display: none;
    padding: 0rem 2rem 10rem 2rem;
    background-size: contain;
  }

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.9rem;
    text-align: center;
    padding-top: 4.8rem;
    text-transform: capitalize;

    @media only screen and (max-width: 1112px) {
      margin-bottom: 10.6rem;
    }

    @media only screen and (max-width: 375px) {
      margin-bottom: 3.2rem;
      width: auto;
      padding-top: 0;
    }
  }

  &__content {
    display: flex;

    @media only screen and (max-width: 375px) {
      flex-direction: column;
      align-items: center;
    }

    &-left {
      padding-right: 2.6rem;

      @media only screen and (max-width: 1112px) {
        padding: 0;
        margin-right: 9.3rem;
      }

      @media only screen and (max-width: 375px) {
        margin-right: 0;
        margin-bottom: 5.5rem;
      }

      img {
        @media only screen and (max-width: 1112px) {
          width: 44rem;
          height: 43.6rem;
        }

        @media only screen and (max-width: 375px) {
          width: 33.5rem;
          height: 28.8rem;
        }
      }

      @media only screen and (max-width: 1112px) {
        //margin-right: 9rem;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7.4rem 4.5rem 7.4rem 4rem;

      @media only screen and (max-width: 1112px) {
        padding: 0;
      }
    }
  }
}

.dots {
  list-style: none;

  @media only screen and (max-width: 1112px) {
    padding: 0;
  }

  @media only screen and (max-width: 375px) {
    display: none;
  }

  li {
    background-color: #d8d8d8;
    width: 1rem;
    height: 1rem;
    border-radius: 10000px;
    margin-bottom: 1.2rem;

    @media only screen and (max-width: 1112px) {
      padding: 0;
    }

    &.active {
      background-color: #39c464;
    }
  }
}

.list {
  list-style: none;
  box-shadow: 0px 13px 29px rgba(63, 69, 78, 0.1),
    0px 0px 8px rgba(54, 60, 71, 0.1);
  margin-right: 1.7rem;
  padding: 3rem 3rem 3rem 3rem;
  background-color: #ffffff;

  @media only screen and (max-width: 1112px) {
    margin-right: 3.8rem;
    width: 36rem;
    height: 59.2rem;
    padding: 4.6rem 4rem 2.4rem 4rem;
  }

  @media only screen and (max-width: 375px) {
    margin-right: 0;
    padding: 5.2rem 4rem 5.2rem 4rem;
    width: auto;
    height: 79rem;
  }

  li {
    padding: 1.6rem 2rem;

    @media only screen and (max-width: 1112px) {
      padding: 0;
    }

    &:hover {
      background-color: #f7fcf9;
    }

    &.activee {
      background-color: #f7fcf9;

      .header {
        color: #39c464;
      }
    }

    &:hover,
    &.active {
      // background-color: #39C464;
      // color: #39C464;
    }

    .header .active {
      // color: #39C464;
    }
  }
}

.header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #4a4a4a;
  margin-bottom: 0.8rem;

  @media only screen and (max-width: 375px) {
    margin-bottom: 0.2rem;
  }
}

.content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 160%;
  color: #4a4a4a;
  margin-bottom: 1rem;
  white-space: nowrap;

  @media only screen and (max-width: 1112px) {
    margin-bottom: 1.8rem;
    white-space: normal;
  }

  @media only screen and (max-width: 375px) {
    margin-bottom: 5.6rem;
  }
}
