<div class="howitworks">
  <p class="howitworks__title">How it works</p>
  <div class="howitworks__content">
    <div class="howitworks__content-left">
      <img [src]="leftImageURL" />
    </div>
    <div class="howitworks__content-right">
      <ul class="list">
        <li
          (click)="selectOption('/assets/images/accordion-image01.png', 1)"
          [ngClass]="{ activee: currentPosition === 1 }"
        >
          <div class="header">
            1. Pick a Product
          </div>
          <div class="content">
            You have complete control over every aspect of the product
          </div>
        </li>
        <li
          (click)="selectOption('/assets/images/accordion-image02.png', 2)"
          [ngClass]="{ activee: currentPosition === 2 }"
        >
          <div class="header">
            2. Customize
          </div>
          <div class="content">
            Share your design and we will help you with the rest
          </div>
        </li>
        <li
          (click)="selectOption('/assets/images/accordion-image03.png', 3)"
          [ngClass]="{ activee: currentPosition === 3 }"
        >
          <div class="header">
            3. Upload Your Artwork
          </div>
          <div class="content">
            Review your information & complete payment
          </div>
        </li>
        <li
          (click)="selectOption('/assets/images/accordion-image04.png', 4)"
          [ngClass]="{ activee: currentPosition === 4 }"
        >
          <div class="header">
            4. Checkout
          </div>
          <div class="content">
            You have complete control over every aspect of the product
          </div>
        </li>
        <li
          (click)="selectOption('/assets/images/accordion-image05.png', 5)"
          [ngClass]="{ activee: currentPosition === 5 }"
        >
          <div class="header">
            5. Mockup and Sample
          </div>
          <div class="content">
            We’ll share a mock-up to review before going into production
          </div>
        </li>
        <li
          (click)="selectOption('/assets/images/accordion-image06.png', 6)"
          [ngClass]="{ activee: currentPosition === 6 }"
        >
          <div class="header">
            6. Products are Coming
          </div>
          <div class="content">
            We’ll send you shipping information to track your order
          </div>
        </li>
      </ul>
      <ul class="dots">
        <li [ngClass]="{ active: currentPosition === 1 }"></li>
        <li [ngClass]="{ active: currentPosition === 2 }"></li>
        <li [ngClass]="{ active: currentPosition === 3 }"></li>
        <li [ngClass]="{ active: currentPosition === 4 }"></li>
        <li [ngClass]="{ active: currentPosition === 5 }"></li>
        <li [ngClass]="{ active: currentPosition === 6 }"></li>
      </ul>
    </div>
  </div>
</div>
