<div class="gallery">
    <div class="gallery__container">
            <img [src]='img'>
    </div>

    <div class="gallery__preview">
        <div class="gallery__preview--item">
            <img src="/assets/images/gallery_1.svg" alt="1" (click)="galleryImage('/assets/images/gallery_1.svg')">
        </div>
        <div class="gallery__preview--item">
            <img src="/assets/images/gallery_2.svg" alt="2" (click)="galleryImage('/assets/images/gallery_2.svg')">
        </div>
        <div class="gallery__preview--item">
            <img src="/assets/images/gallery_3.svg" alt="3" (click)="galleryImage('/assets/images/gallery_3.svg')">
        </div>
        <div class="gallery__preview--item">
            <img src="/assets/images/gallery_4.svg" alt="4" (click)="galleryImage('/assets/images/gallery_4.svg')">
        </div>
        <div class="gallery__preview--item">
            <img src="/assets/images/gallery_5.svg" alt="5" (click)="galleryImage('/assets/images/gallery_5.svg')">
        </div>
        <div class="gallery__preview--item">
            <img src="/assets/images/gallery_6.svg" alt="6" (click)="galleryImage('/assets/images/gallery_6.svg')">
        </div>
    </div>    
</div>