<!--The content below is only a placeholder and can be replaced.-->
<!--
    <app-header> </app-header>

 -->
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900,1100"
  rel="stylesheet"
/>

<app-navi></app-navi>
<app-header></app-header>
<app-trustedby></app-trustedby>
<app-howitworks></app-howitworks>
<app-custompatch></app-custompatch>
<app-wevemade></app-wevemade>
<app-reviews></app-reviews>
<app-blog></app-blog>
<app-faq></app-faq>
<app-start></app-start>

<router-outlet></router-outlet>
