<div class="header">
    <div class="header__container">
        <div class="header__container-left">
            <img src="/assets/images/embroidered-patches-wildshield.svg" alt="header content" class="header__image">
        </div>
        <div class="header__container-right">
            <h1 class="header__title">Create Custom Embroidered Patches</h1>
            <p class="header__description">Effortlessly turn your design or idea into a vivid, fashion-quality embroidered patch.</p>
            <button class="btn button-green">Get Started</button>
        </div>
    </div>
</div>