.header {
  //padding: 0 2rem 4.2rem 2rem;
  display: flex;
  background-image: url(/assets/images/hero-section.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;

  @media only screen and (max-width: 1112px) {
    padding: 0 7.1rem 4.2rem 7.1rem;
  }

  @media only screen and (max-width: 375px) {
    padding: 3.2rem 2rem 8rem 2rem;
  }

  &__container {
    display: flex;
    align-items: center;
    //transform: matrix(-1, 0, 0, 1, 0, 0);
    padding-top: 8.2rem;
    padding-bottom: 3.5rem;
    width: 144rem;

    @media only screen and (max-width: 1112px) {
      width: 111.2rem;
    }

    @media only screen and (max-width: 375px) {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 0;
      width: auto;
    }

    &-left {
      margin-left: 4.5rem;

      @media only screen and (max-width: 1112px) {
        margin-left: none;
      }

      @media only screen and (max-width: 375px) {
        margin-left: 0;
        margin-bottom: 2.4rem;
      }

      & img {
        width: 63rem;
        height: 35.7rem;

        @media only screen and (max-width: 1112px) {
          width: 46.9rem;
          height: 26.6rem;
        }

        @media only screen and (max-width: 375px) {
          width: 33.5rem;
          height: 21rem;
        }
      }
    }

    &-right {
      margin-right: 6.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media only screen and (max-width: 1112px) {
        margin-right: 1.6rem;
        margin-left: 3rem;
      }
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 120%;
    text-align: center;

    @media only screen and (max-width: 1112px) {
      padding: 0 5rem;
    }

    @media only screen and (max-width: 375px) {
      font-style: normal;
      font-weight: bold;
      font-size: 2.4rem;
      line-height: 140%;
      text-align: center;
      color: #000000;
      padding: 0;
    }
  }

  &__description {
    width: 56.2rem;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 188.5%;
    color: #4a4a4a;
    text-align: center;

    @media only screen and (max-width: 1112px) {
      font-weight: normal;
      font-size: 18px;
      line-height: 34px;
      margin-bottom: 4.4rem;
      margin-top: 0.8rem;
      padding: 0 8rem;
    }

    @media only screen and (max-width: 375px) {
      width: auto;
      padding: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 160%;
      text-align: center;
      color: #4a4a4a;
      margin-bottom: 4.8rem;
    }
  }
}
