.custompatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;

  @media only screen and (max-width: 1112px) {
    padding: 0 8.6rem 10rem 8.6rem;
    display: flex;
    align-items: flex-start;
  }

  @media only screen and (max-width: 375px) {
    padding: 0 2rem 10rem 2rem;
  }

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.9rem;
    color: #4a4a4a;
    align-self: flex-start;

    @media only screen and (max-width: 1112px) {
      margin-bottom: 1.6rem;
    }

    @media only screen and (max-width: 375px) {
      padding-right: 3rem;
      line-height: 4.5rem;
    }
  }

  &__description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 160%;
    color: #4a4a4a;
    margin-bottom: 3.2rem;

    @media only screen and (max-width: 375px) {
      margin-bottom: 3.2rem;
    }
  }

  &__section {
    padding: 0 12rem 5rem 15rem;
    display: flex;
    flex-direction: column;
    width: 144rem;
    position: relative;

    @media only screen and (max-width: 1112px) {
      width: 100%;
      padding: 0;
      margin-bottom: 5rem;
    }

    @media only screen and (max-width: 375px) {
      margin-bottom: 0;
    }

    &-tooltip {
      display: flex;
    }

    &-title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 2rem;
      line-height: 120%;
      color: #4a4a4a;
      margin-bottom: 3.2rem;
    }

    &-cards {
      @media only screen and (max-width: 1112px) {
        width: 100%;
      }

      @media only screen and (max-width: 375px) {
        flex-direction: column;
      }

      carousel {
        width: 100%;
      }

      .carousel-item {
        margin-right: 1.2rem;

        @media only screen and (max-width: 1112px) {
          margin-right: 2rem;
        }

        @media only screen and (max-width: 375px) {
          margin-right: 0;
          padding: 0 3.6rem;
        }
      }

      display: flex;
    }
  }
}

.tooltip {
  padding-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: auto;
  position: static !important;
  display: inline-block;
  opacity: 1;

  &__image {
    height: 1.6rem;
    width: 1.6rem;
    font-weight: 700;
    cursor: pointer;

    &:hover .tooltiptext {
      visibility: visible;
    }
  }
}

.tooltiptext {
  visibility: hidden;
  width: 40rem;
  height: 10rem;
  background-color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 160%;
  box-shadow: 0px 8px 10px rgba(63, 69, 78, 0.25),
    0px 0px 3px rgba(54, 60, 71, 0.15);
  padding: 1.6rem;
  color: #4a4a4a;

  /* Position the tooltip */
  position: absolute;
  z-index: 999;
  top: -12rem;
  left: 20rem;

  @media only screen and (max-width: 375px) {
    top: -14rem;
    left: -23rem;
    width: 33rem;
    height: 12rem;
  }

  @media only screen and (max-width: 375px) {
    left: 0;
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.rectangle {
  height: 15rem;
  width: auto;
  background-color: #f9f9f9;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 0, 33% 50%);

  @media only screen and (max-width: 375px) {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 0, 33% 35%);
    height: 10rem;
  }
}
