.gallery {
    width: 83.2rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 6.4rem 4rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 10px rgba(23, 43, 77, 0.32), 0px 0px 3px rgba(9, 30, 66, 0.25);
    transform: translateX(-17.7rem);
  
      
    &__container {
        background-color: #f9f9f9;
        width: 75.2rem;
        height: 47.7rem;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;  
        overflow: hidden;    

            
        & img {
            width: 130%;        
        }
    }
  
    &__preview {
        display: flex;              
        
        &--item {
            margin-bottom: 6.4rem;
            width: 11.2rem;
            height: 11.2rem;
            overflow: hidden;    
            background-color: #f9f9f9;      

            &:not(:last-child) {
                margin-right: 1.6rem;
            }
        }
  
        &--item img {
            // opacity: 0.8;
            width: 100%;
            // transform: translate(-20%, -20%);
    
            &:hover {
            opacity: 1;
            }
        }
    }
  }
  