<div class="gallery">
    <div class="gallery__container">
            <img [src]='img'>
    </div>

    <div class="gallery__preview">
        <div class="gallery__preview--item">
            <img src="/assets/images/gallery_7.svg" alt="1" (click)="galleryImage('/assets/images/gallery_7.svg')">
        </div>
        <div class="gallery__preview--item">
            <img src="/assets/images/gallery_8.svg" alt="2" (click)="galleryImage('/assets/images/gallery_8.svg')">
        </div>
        <div class="gallery__preview--item">
            <img src="/assets/images/gallery_9.svg" alt="3" (click)="galleryImage('/assets/images/gallery_9.svg')">
        </div>
        <div class="gallery__preview--item">
            <img src="/assets/images/gallery_10.svg" alt="4" (click)="galleryImage('/assets/images/gallery_10.svg')">
        </div>
        <div class="gallery__preview--item">
            <img src="/assets/images/gallery_11.svg" alt="5" (click)="galleryImage('/assets/images/gallery_11.svg')">
        </div>
        <div class="gallery__preview--item">
            <img src="/assets/images/gallery_12.svg" alt="6" (click)="galleryImage('/assets/images/gallery_12.svg')">
        </div>
    </div>    
</div>