.reviews {
  display: flex;
  flex-direction: column;
  padding: 0 13.5rem;
  align-items: center;
  margin-bottom: 8rem;

  @media only screen and (max-width: 1112px) {
    padding: 0 8.6rem;
    margin-bottom: 7rem;
  }

  @media only screen and (max-width: 375px) {
    padding: 0 2rem 8rem 2rem;
    margin-bottom: 0;
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  margin-bottom: 3.2rem;
  margin-top: 4.8rem;

  @media only screen and (max-width: 375px) {
    text-transform: capitalize;
  }
}

.content {
  display: block;
  background-image: url("/assets/images/reviews.svg");
  background-size: cover;
  background-position: center;
  height: 10rem;
  width: 100%;

  @media only screen and (max-width: 1112px) {
    //width: 100%;
  }

  @media only screen and (max-width: 375px) {
    background-image: url("/assets/images/reviews-mobile.svg");
    height: 23rem;
    width: 100%;
  }
}
