.container {
  padding: 1.6rem 1.5rem 6.4rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 1112px) {
    padding: 0 7.1rem 0 7.1rem;
  }

  @media only screen and (max-width: 375px) {
    padding: 4.8rem 2rem 6.4rem 2rem;
  }

  @media only screen and (max-width: 375px) {
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.9rem;
    text-align: center;
    text-transform: capitalize;

    @media only screen and (max-width: 1112px) {
      margin-top: 4.8rem;
      margin-bottom: 3rem;
    }
  }
}

.brands {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  @media only screen and (max-width: 1112px) {
    margin-bottom: 8rem;
  }

  @media only screen and (max-width: 375px) {
    margin-bottom: 0;
    flex-wrap: wrap;
  }

  &__logo {
    padding: 1.6rem 3.2rem;

    @media only screen and (max-width: 1112px) {
      width: 13.2rem;
      height: 10.5rem;

      &:not(:last-child) {
        margin-right: 4.6rem;
      }
    }

    @media only screen and (max-width: 375px) {
      width: 16.5rem;
      height: 13.2rem;

      &:not(:last-child) {
        margin-right: 0;
      }
    }

    img {
      @media only screen and (max-width: 1112px) {
        width: 8rem;
        height: 8rem;
      }

      @media only screen and (max-width: 375px) {
        width: 10rem;
        height: 10rem;
      }
    }
  }
}
