<div class="container">
    <p class="container__title">Trusted By</p>
    <div class="brands">
        <div class="brands__logo">
            <img src="assets/images/uber-logo.svg" alt="uber">
        </div>
        <div class="brands__logo">
            <img src="assets/images/adidas-logo.svg" alt="adidas">
        </div>
        <div class="brands__logo">
            <img src="assets/images/nps-logo.svg" alt="National Park Service">
        </div>
        <div class="brands__logo">
            <img src="assets/images/pintrest-logo.svg" alt="Pintrest">
        </div>
        <div class="brands__logo">
            <img src="assets/images/netflix-logo.svg" alt="Netflix">
        </div>
        <div class="brands__logo">
            <img src="assets/images/brands-logo.svg" alt="Rainforest Alliance Certified">
        </div>
        
    </div>
</div>
