<div class="faq">
  <div class="faq__content">
    <div class="title">Frequently Asked Questions</div>
    <accordion>
      <accordion-group
        class="question"
        heading="How long will it take to ship my finished patch?"
        style="color: #4A4A4A;"
      >
        <p class="answer">
          Shipping hinges primarily on design complexity, order quantity, and
          location. In most cases, you can expect to receive your custom patches
          between 2-4 weeks of placing an order. We also offer a variety of
          production and shipping options to expedite delivery that require fast
          turnarounds. If you have one a hard deadline let us know when placing
          an order so we can work towards beating it!
        </p>
      </accordion-group>
      <accordion-group
        class="question"
        heading="What are the size limits for patches?"
      >
        <p class="answer">
          Shipping hinges primarily on design complexity, order quantity, and
          location.
        </p>
      </accordion-group>
      <accordion-group
        class="question"
        heading="Will I get a sample before my patches are made?"
      >
        <p class="answer">
          In most cases, you can expect to receive your custom patches between
          2-4 weeks of placing an order.
        </p>
      </accordion-group>
      <accordion-group
        class="question"
        heading="How do you price your patches?"
      >
        <p class="answer">
          We also offer a variety of production and shipping options to expedite
          delivery that require fast turnarounds.
        </p>
      </accordion-group>
      <accordion-group class="question" heading="Where will my patch be made?">
        <p class="answer">
          If you have one a hard deadline let us know when placing an order so
          we can work towards beating it!
        </p>
      </accordion-group>
    </accordion>
  </div>
</div>
