.faq {
  background-color: #f7f7f7;

  @media only screen and (max-width: 375px) {
    display: none;
  }

  &__content {
    display: flex;
    //align-items: center;
    justify-content: center;
    //width: 144rem;
    padding: 4.8rem 15rem 8rem 15rem;

    @media only screen and (max-width: 1112px) {
      padding: 4.8rem 8.6rem 8rem 8.6rem;
    }
  }

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #222222;
    width: 36rem;
    margin-right: 3rem;
    @media only screen and (max-width: 1112px) {
      width: 21.2rem;
    }
  }

  .question {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #4a4a4a;
    width: 75rem;
    background-color: #ffffff !important;
    margin-bottom: 1.6rem;

    .answer {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      color: #4a4a4a;
    }
  }

  // .icon {
  //   display: block;
  //   width: 1.6rem;
  //   height: 1.6rem;
  //   //position: absolute;
  //   background-image: url(/src/assets/images/icon-down.svg);
  // }
}
