// /* imported styles */
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

/* You can add global styles to this file, and also import other style files */
* {
  font-family: "montserrat";
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  margin: auto;
}

.btn {
  width: 28rem;
  height: 4.6rem;
  border-radius: 0.5rem;
  outline: none;
}

.button-green {
  background-color: #40a960;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;

  &:hover {
    background-color: #39c464;
  }
}

.button-white {
  border: 1px solid #40a960;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #40a960;
  background-color: #ffffff;
  transition: all 0.2s;

  &:hover {
    color: #ffffff;
    background-color: #40a960;
  }
}

.icon-next {
  padding: 0.5rem;
  height: 3.6rem;
  width: 3.6rem;
  transform: translateX(7.5rem);
  background-color: white;
  box-shadow: 0px 4px 6px rgba(58, 64, 75, 0.2),
    0px 0px 3px rgba(57, 62, 71, 0.25);
  background-image: url(/assets/images/next.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;

  @media only screen and (max-width: 1112px) {
    transform: translate(5rem, -2rem);
  }

  @media only screen and (max-width: 375px) {
    transform: translate(1rem, -2rem);
  }
}

.icon-prev {
  padding: 0.5rem;
  height: 3.6rem;
  width: 3.6rem;
  transform: translateX(-8.5rem) rotate(180deg);
  background-color: white;
  box-shadow: 0px 4px 6px rgba(58, 64, 75, 0.2),
    0px 0px 3px rgba(57, 62, 71, 0.25);

  background-image: url(/assets/images/next.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;

  @media only screen and (max-width: 1112px) {
    transform: translate(-7rem, -2rem) rotate(180deg);
  }

  @media only screen and (max-width: 375px) {
    transform: translate(-1rem, -2rem) rotate(180deg);
  }
}

.carousel {
  outline: none;

  &-item {
    @media only screen and (max-width: 1112px) {
      width: auto !important;
    }
  }
}

.modal-content {
  background-color: #ffffff;
}

.wevemade {
  .carousel-control {
    display: none !important;
  }

  .carousel-inner {
    width: 120rem;
    height: 95rem;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;

    @media only screen and (max-width: 1112px) {
      width: auto;
      height: 78rem;
    }

    @media only screen and (max-width: 375px) {
      width: auto;
      height: auto;
      flex-direction: column;
      align-items: center;
    }
  }
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}

.carousel-indicators li {
  display: none;
  margin-right: none !important;
  margin-left: none !important;
}

.carousel-indicators li:first-child {
  display: inline-block;
  background-color: #d8d8d8;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  margin-right: 1rem;

  &.active {
    background-color: #979797;
  }

  @media only screen and (max-width: 375px) {
    display: none;
  }
}

.carousel-indicators li:last-child {
  display: inline-block;
  background-color: #d8d8d8;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;

  &.active {
    background-color: #979797;
  }

  @media only screen and (max-width: 375px) {
    display: none;
  }
}

.faq {
  .card-header {
    background-color: #ffffff;
    //border-radius: none !important;
  }

  .card {
    border-radius: none !important;
  }

  .btn-link {
    color: #4a4a4a;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-decoration: none;
  }
}
