.path {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  margin-left: 3.8rem;
  line-height: 2.8rem;
  font-weight: 500;

  @media only screen and (max-width: 375px) {
    display: none;
  }

  &__1 {
    color: #aaaaaa;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.1);
  }

  &__2 {
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.1);
  }
}

.img {
  height: 8rem;
  display: block;
  background-image: url("/assets/images/nav-screenshot.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  @media only screen and (max-width: 375px) {
    background-image: url("/assets/images/nav-screenshot-mobile.svg");
    width: auto;
    height: 6rem;
  }
}
