.blogitem {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;

    @media only screen and (max-width: 1112px) {
      width: 29.3rem;
      height: auto;
    }

    @media only screen and (max-width: 375px) {
      width: 100%;
      height: auto;
    }
  }

  .description {
    padding: 2.4rem 2.4rem 4rem 2.4rem;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #4a4a4a;
    background-color: #f9f9f9;
    box-shadow: 0px 1px 1px rgba(66, 66, 66, 0.25),
      0px 0px 3px rgba(102, 102, 102, 0.24);
  }
}
